


<div class="container mt-5 ">
    <form [formGroup]="myForm" >
        <div class="row">
            <div class="col-lg-4">
                <label>Select Year</label>
                <select class="form-select" formControlName="year" (change)="resetForm()"  >
                    <option value="">Select Year</option>
                    <option value="{{y}}"  *ngFor="let y of range">{{y}}</option>
                </select>
            </div>
           
            <div class="col-lg-4">
                <label>Select Month</label>
                <select class="form-select" formControlName="month" (change)="submitMonths()" >
                    <option value="">Select Month</option>
                    <option value="{{i}}" *ngFor="let m of months let i=index">{{m}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>Select Date</label>
                <select class="form-select" formControlName="date" (change)="finalDates()" >
                    <option value="">Select Date</option>
                    <option value="{{d}}" *ngFor="let d of monthAllsDate">{{d}}</option>
                </select>
            </div>
            
        </div>
    </form>
</div>
<h1 class="text-center mt-5"> Date:-{{finalResultDate|date:'dd/MM/yyyy'}}</h1>




