


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <select class="form-select" #langSelect (change)="translateService.use(langSelect.value)">
                <option *ngFor="let lang of translateService.getLangs()"
                [value]="lang"
                [selected]="lang === translateService.currentLang"
                
                >{{lang}}</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center pt-3 mt-5">
        <div class="col-lg-6">
   
  
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{{"1"|translate}}</th>
                    <th>{{'NAME'|translate}}</th>
                    <td>{{'SHUBHAM VYANKAT MANE'|translate}}</td>
                </tr>
                <tr>
                    <th>{{"2"|translate}}</th>
                    <th>{{'ADDRESS'|translate}}</th>
                    <td>{{'PUNE'|translate}}</td>
                </tr>
                <tr>
                    <th>{{"3"|translate}}</th>
                    <th>{{'MOBILE NO'|translate}}</th>
                    <td>{{'9673770139'|translate}}</td>
                </tr>
                <tr>
                    <th>{{"4"|translate}}</th>
                    <th>{{'SEX'|translate}}</th>
                    <td>{{'MALE'|translate}}</td>
                </tr>
                <tr>
                    <th>{{"5"|translate}}</th>
                    <th>{{'AGE'|translate}}</th>
                    <td>{{'25'|translate}}</td>
                </tr>
                <tr>
                    <th>{{"6"|translate}}</th>
                    <th>{{'STATE'|translate}}</th>
                    <td>{{'MAHARASHTRA'|translate}}</td>
                </tr>
                <tr>
                    <th>{{"7"|translate}}</th>
                    <th>{{'COUNTRY'|translate}}</th>
                    <td>{{'INDIA'|translate}}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
    </div>

</div>
